


body {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    overflow: hidden;
    margin: 0;
    background-image: url("homepage.jpg"); 
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat; 
}

.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    background: linear-gradient(to right, #007bff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.container {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 100px;
    height: 100vh;
}

.menu {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 50px;
    color: blue;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 20px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: blue;
}


.Calculator, .sidebar {
    width: 300px;
    height: 450px; 
    background: rgba(69, 57, 57, 0.5);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}


.Calculator {
    transform: translateX(-100vw);
    animation: slideInLeft 1s forwards;
}

.sidebar {
    transform: translateX(100vw);
    animation: slideInRight 1s forwards;
}

@keyframes slideInLeft {
    to {
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    to {
        transform: translateX(0);
    }
}


input {
    width: 100%;
    height: 35px;
    font-size: 18px;
    text-align: right;
    margin-bottom: 8px;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
}


button {
    width: 60px;
    height: 60px;
    margin: 4px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button.operator {
    background: #0091ff;
    color: white;
}

button.equalBtn {
    background: #28a745;
    color: white;
}


.slide a {
    text-decoration: none;
    color: #333333;
    font-weight: 700;
    font-size: 20px;
    transition: color 0.3s ease;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 15px;
}

.sidebar nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 28px; 
    font-weight: bold;
    padding: 6px 10px;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar nav a:hover {
    background-color: #007bff;
    color: #fff;
}

